
.banner {
    width:100% ;
    display: flex;
}
.full {
    margin: 0%;
    padding: 0%;
}

.section {
    height: 70%;
    background-color: #ffffff;
    
  }
.button {     
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
            
}

.pages {
    display: none;
    padding: 10px ;
    justify-content: center;
    align-items: center;
    align-content: center;    
    
}

.pages-home {
    display: flex;
    padding: 20px ;
    justify-content: center;
    align-items: center;
    align-content: center;
}
h1{
    color: yellowgreen;
}
  .fade-in-image {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
  }
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
.mid{
    text-align: center;
}
.roundb{
    border-radius: 10%;
}
.image{
    width: 350px;
    image-rendering: auto;
}
.image-t{
    width: 400px;
    image-rendering: auto;
}
.list {
    align-content: center;
    align-items: center;
    justify-content:center;
    padding: 0;
    margin: 0;
    display: flex;
}
.size{
    max-width: 600px;
}